<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Search Results</title>
    <link rel="icon" type="image/x-icon" href="https://help.apiary.io/images/swagger-logo.png">
    <style>
        .main {
            width: 1000px;
        }

        .book {
            border: 2px solid #d0cdcd;
            border-radius: 5px;
            margin-bottom: 5px;
            padding: 5px;
        }

        .author {
            background-color: #7878785e;
            width: 220px;
            padding: 5px
        }
    </style>
</head>
<body>
<div class="main">
    <form method="post">
        <input type="text" name="keyword">
        <input type="submit">
    </form>
    <h1> Search Resluts.. : {{ total }} docs..</h1>
    {% for hit in response %}
        <div class="book">
            <h2><a href={{ hit.source.wiki_page }} target='_blank'>{{ hit.source.title }}</a></h2>
            <p>{{ hit.source.plot | slice:1000 }}..</p>
            {% for k, v in hit.highlight.items %}
            <p>{{ k}} - {{ v | safe}}</p>
            {% endfor %}        
            <p class="author">Author: {{ hit.source.director }}</p>
        </div>
    {% endfor %}
</div>
</body>
</html>